body {
    background-color: #01161eff; /* Rich Black */
    color: #eff6e0ff; /* Beige */
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background-color: #124559ff; /* Dark Blue */
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 8px 25px rgba(1, 22, 30, 0.6);
    text-align: center;
    width: 300px;
}

.login-container h2 {
    margin-bottom: 1.5rem;
}

.login-container label {
    display: block;
    margin-bottom: 0.5rem;
    text-align: left;
}

.login-container input {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    border: 1px solid #aec3b0ff;
    background-color: #01161eff;
    color: #eff6e0ff;
}

.login-container button {
    width: 100%;
    padding: 0.7rem;
    background-color: #598392ff; /* Greenish-blue */
    color: #eff6e0ff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-container button:hover {
    background-color: #124559ff;
}

#error-message {
    color: red;
    margin-top: 1rem;
}
